
# this is a comment
# config format:
# item  value_sequences

# game dedicated server path, name and args
TARGET_PATH         ~/dontstarvetogether_dedicated_server/bin64/
TARGET_NAME         dontstarve_dedicated_server_nullrenderer_x64
TARGET_ARGS         -cluster {cluster_name} -shard {shard_name} -monitor_parent_process {manager_pid}

# game saves' path
SAVES_PATH          ~/.klei/DoNotStarveTogether/

# inner log buffer size(max line count)
LOG_BUFFER_SIZE     300

# judge if a folder is a cluster
CHECK_IS_CLUSTER    cluster_token.txt cluster.ini
# judge if a folder is a shard
CHECK_IS_SHARD      leveldataoverride.lua server.ini modoverrides.lua

# use this command to search existing server
PROCESS_SEARCH_CMD  ps h -U {uid} -o "%p %a" | grep {target_name} | grep -v grep
# being used to search existing server, which is to determine some arguments
CMD_PARSER_ARGS     target -cluster -monitor_parent_process -shard
