
# this is a comment
# config format:
# item  value_sequences

# game dedicated server path, name and args
TARGET_INSTALL_PATH ~/dontstarvetogether_dedicated_server/
TARGET_PATH         {TARGET_INSTALL_PATH}/bin64/
TARGET_NAME         dontstarve_dedicated_server_nullrenderer_x64
TARGET_ARGS         -console -cluster {cluster_name} -shard {shard_name} -monitor_parent_process {manager_pid}

# the save archive target path
ARCHIVE_PATH        ~/dst_server_manager/archives/

# steamcmd directory
STEAMCMD_PATH       ~/steamcmd/


# the script uses tmux to control manager process, 
# this option specified the session name
TMUX_NAME           dst

# game saves' path
SAVES_PATH          ~/.klei/DoNotStarveTogether/

# inner log buffer size(max line count)
LOG_BUFFER_SIZE     300

# judge if a folder is a cluster
CHECK_IS_CLUSTER    cluster_token.txt cluster.ini
# judge if a folder is a shard
CHECK_IS_SHARD      leveldataoverride.lua server.ini modoverrides.lua

# use this command to search existing server
PROCESS_SEARCH_CMD  ps h -U {uid} -o "%p %a" | grep {TARGET_NAME} | grep -v grep
# being used to search existing server, which is to determine some arguments
CMD_PARSER_ARGS     target -console -cluster -monitor_parent_process -shard

# server will restart in ? seconds while it is dead/crash if auto_restart is enabled
RESTART_DELAY_SECONDS   5
# server will restart in ? minutes if it's being set a restart_timer(this will be set if some mod is out of date)
PLANED_RESTART_MINUTES    5

# for game updates

# don't modifiy it
CURRENT_VERSION_QUERY_CMD   steamcmd.sh +force_install_dir {TARGET_INSTALL_PATH} +login anonymous +app_info_update 1 +app_status 343050 +quit
LATEST_VERSION_QUERY_URL    https://api.steamcmd.net/v1/info/343050
# use this command to update Don't Starve Together dedicated server
GAME_UPDATE_CMD             steamcmd.sh +force_install_dir {TARGET_INSTALL_PATH} +login anonymous +app_update 343050 validate +quit

# the interval of checking for game update, in minutes(default is 1 hour)
CHECK_FOR_GAME_UPDATE_INTERVAL  60

# query timeout, in seconds
LATEST_VERSION_QUERY_TIMEOUT   30

# debug option
DEBUG true


OPERATORS_KUID                  KU_9bMvNhA2 KU_CKFre5ir KU_B_MTKVz2 KU_3Ep62hJ6 KU_XE0s3VJ9 KU_uerQFCvr KU_FSLwPyOu KU_lXC3EipA KU_3W1rWU2Y KU_84Tfuie3 KU_SFlxJO81